<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkBook 注册</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reg.css">

    <script src="/js/common.js"></script>
    <script src="//layui.hcwl520.com.cn/jquery/jquery-3.3.1.min.js?v=201804251754"></script>
</head>
<body style="background-color: #f3f6f7; overflow: hidden">
<img src="http://qty83k.creatby.com/materials/origin/e7d50b6e293405c613c9c5ab072e1423_origin.jpg" class="allWidth">
<center>

    <div class="reg-div">
        <div class="reg-input-div reg-title" style="margin-bottom: 20px;">
            <span style="font-size: 18px;">加入</span> LinkBook
        </div>
        <div class="reg-input-div">
            <input class="reg-input" placeholder="请设置用户名" id="reg-pickname">
        </div>
        <div class="reg-input-div">
            <input class="reg-input" placeholder="常用邮箱注册，可用于登录和找回密码" id="reg-email">
        </div>
        <div class="reg-input-div">
            <input type="password" class="reg-input" placeholder="设置6~12位密码" id="reg-password1">
        </div>
        <div class="reg-input-div">
            <input type="password" class="reg-input" placeholder="确认密码" id="reg-password2">
        </div>
        <div class="reg-input-div" style="border: 0px; font-size: 13px; color: #3e3e3e">
            <label><input type="checkbox" id="agree"> &nbsp; 阅读并同意《</label> <a style="color: #ff6962">链书用户协议</a>》 和 《<a style="color: #ff6962">隐私协议</a>》
        </div>
        <div class="reg-input-div" style="border: 0px;">
            <button class="reg-btn">创建账号</button>
        </div>
        <div class="reg-input-div" style="border: 0px; font-size: 13px; text-align: right">
            <a style="color: #515151">已有账号，<span style="color: green">直接登录</span></a>
        </div>

    </div>

</center>
</body>
</html>